.input-block {
  margin-bottom: 10px;
}

.input-block label {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-block input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 4px;
}